@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap);

body
{
    font-family: 'Montserrat', sans-serif;
}

.pembuka
{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #C2DAF9;
}

.loker
{
    font-size: 3cm;
    color: #004aad;
}

.arti
{
    font-size: xx-large;
}

.pembukaweb
{
    font-family: 'Montserrat', sans-serif;
    margin: 1rem;
}

